.login-card, .register-card {
    margin-top: 50px;
}

.validating {
    color: #0082FF;
}

.page-content {
    padding-bottom: 15px;
}

.page-content-header {
    margin-top: 15px;
}

.item-title {
    margin-top: 5px;
    margin-bottom: 5px;
}

a.item-title-link {
    text-decoration: none;
    color: inherit;
}

a.item-title-link:hover {
    text-decoration: underline;
    cursor: pointer;
    color: #0082FF;
}

.content-list {
    border-right: 1px solid rgb(255, 64, 129);
    border-left: 1px solid rgb(255, 64, 129);
    border-bottom: 1px solid rgb(255, 64, 129);
}

#brand-name {
    color: #FFFFFF;
    text-decoration: none;
}

#brand-name:hover {
    text-decoration: none;
}


.post-content {
    margin-left: 20px;
    padding-left: 10px;
    border-left: 1px solid lightgray;
}

.text-muted {
    color: dimgray;
}
