.login-card, .register-card {
    margin-top: 50px;
}

.validating {
    color: #0082FF;
}

.page-content {
    padding-bottom: 15px;
}

.page-content-header {
    margin-top: 15px;
}

.item-title:hover {
    text-decoration: underline;
    cursor: pointer;
}

.thread-list {
    border-right: 1px solid rgb(255, 64, 129);
    border-left: 1px solid rgb(255, 64, 129);
    border-bottom: 1px solid rgb(255, 64, 129);
}
