<div layout="row" layout-align="space-around center" class="page-content" layout-padding ng-cloak>
    <md-content flex-sm="100" flex-gt-md="85" flex-md="90">
        <md-card>
            <md-toolbar class="md-warn">
                <div class="md-toolbar-tools">
                    <h1 class="md-flex">List of available Forums</h1>
                </div>
            </md-toolbar>
            <md-card-content>
                <forums forums="vm.forums"></forums>
            </md-card-content>
        </md-card>
    </md-content>
</div>
