<div layout="row" layout-align="space-around center" class="page-content" layout-padding ng-cloak>
    <md-content flex-sm="100" flex-gt-md="85" flex-md="90">
        <md-toolbar class="md-warn md-whiteframe-z2">
            <div class="md-toolbar-tools">
                <h1 class="md-flex"><span ng-bind="vm.forum.title"></span> Forum</h1>
            </div>
        </md-toolbar>
        <div class="md-whiteframe-z1 md-padding" layout="column">
            <h4 class="md-headline item-title">{{ vm.forum.description || 'No description yet.' }}</h4>
            <div class="md-caption text-muted">
                <p>Threads: {{ vm.forum.num_threads }}</p>
                <p>Created: {{ vm.forum.created | date }}</p>
                <p>Created By: {{ vm.forum.creator.username }}</p>
            </div>
            <md-content class="thread-list" style="max-height: 600px;">
                <md-toolbar class="md-accent">
                    <div class="md-toolbar-tools">
                        <h1 class="md-flex">Threads</h1>
                    </div>
                </md-toolbar>
                <threads forum-slug="{{vm.forumSlug}}"></threads>
            </md-content>
        </div>
    </md-content>
</div>
