<md-content ng-repeat="post in posts">
    <div layout="column" class="md-padding">
        <h2 ng-bind="post.title" class="md-headline item-title"></h2>
        <div class="post-content">
            <p ng-bind="post.body"></p>
        </div>
        <div class="md-caption text-muted">
            <p>Created: {{ post.created | date:'medium' }}</p>
            <p>Created By: {{ post.creator.username }}</p>
        </div>
    </div>
    <div ng-hide="{{ $last }}">
        <md-divider></md-divider>
    </div>
</md-content>

<md-list ng-hide="posts && posts.length">
    <div layout="row" layout-sm="column" layout-align="space-around" ng-hide="posts_loaded" class="md-padding">
        <md-progress-circular md-mode="indeterminate" class="md-warn"></md-progress-circular>
    </div>
    <md-list-item class="md-2-line" ng-show="posts_loaded">
        <div class="md-list-item-text" layout="column">
            <h2 class="md-headline">No posts in this thread yet.</h2>
        </div>
    </md-list-item>
</md-list>
