{% load staticfiles %}
{% load compress %}


{% compress js %}

<script type="text/javascript" src="{% static 'bower_components/angular/angular.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-aria/angular-aria.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-animate/angular-animate.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-material/angular-material.js' %}"></script>

<script type="text/javascript" src="{% static 'bower_components/angular-cookies/angular-cookies.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-route/angular-route.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-messages/angular-messages.js' %}"></script>

<script type="text/javascript" src="{% static 'javascripts/forum.js' %}"></script>

<script type="text/javascript" src="{% static 'javascripts/forum.config.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/forum.routes.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/forum.interceptors.js' %}"></script>

<script type="text/javascript" src="{% static 'javascripts/layout/layout.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/layout/controllers/mdtoolbar.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/layout/controllers/index.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/layout/controllers/mdsidenav.controller.js' %}"></script>

<script type="text/javascript" src="{% static 'javascripts/authentication/authentication.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/authentication/services/authentication.service.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/authentication/controllers/login.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/authentication/controllers/register.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/authentication/directives/validations.directive.js' %}"></script>

<script type="text/javascript" src="{% static 'javascripts/forum/forums.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/forum/services/forums.service.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/forum/controllers/forum.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/forum/controllers/new-forum.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/forum/directives/forums.directive.js' %}"></script>

<script type="text/javascript" src="{% static 'javascripts/thread/thread.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/thread/controllers/thread.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/thread/services/thread.service.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/thread/directives/threads.directive.js' %}"></script>

<script type="text/javascript" src="{% static 'javascripts/posts/posts.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/posts/directives/posts.directive.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/posts/directives/post.directive.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/posts/services/posts.service.js' %}"></script>

<script type="text/javascript" src="{% static 'javascripts/comments/comments.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/comments/directives/comments.directive.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/comments/directives/new-comment.directive.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/comments/services/comments.service.js' %}"></script>
{% endcompress %}
