<md-toolbar ng-cloak ng-controller="ToolbarController as vm" ng-cloak>
    <div class="md-toobar-tools" layout="row">
        {% if user.is_authenticated %}
            <md-button ng-click="vm.toggleSidenav('left')" hide-gt-md class="menuBtn" aria-label="Menu">
                <span>Menu</span>
            </md-button>
        {% endif %}
        <h1 style="margin-left: 10px; " flex>Marioshoni Forum</h1>
        {% if user.is_authenticated %}
            <md-button ng-click="vm.navigate('/profile')" hide show-gt-sm>{{ user.username }}</md-button>
            <md-button ng-click="vm.logout()" aria-label="Logout">Logout</md-button>
        {% else %}
            <md-button ng-click="vm.navigate('/login')" aria-label="Login" hide show-gt-sm>Login</md-button>
            <md-button ng-click="vm.navigate('/register')" aria-label="Register" hide show-gt-sm>Register</md-button>
        {% endif %}        
    </div>
</md-toolbar>
