<div layout="row" layout-align="space-around center" class="page-content md-padding" ng-cloak style="margin-top: 50px;">
    <md-content flex-gt-md="75" flex-sm="100" layout="column" class="md-whiteframe-z2">
        <md-toolbar class="md-warn not-found" flex>
            <h1 class="md-toolbar-tools md-headline" layout-align="center">Error 403: Permission Denied.</h1>
        </md-toolbar>
        <div class="md-padding">
            <p>Sorry, but you do not have permission to perform that action.</p>
            <p>You can resolve this by:</p>
            <ul>
                <li>Logging in with an account with enough permissions.</li>
                <li>Asking the administrator for help.</li>
            </ul>
        </div>
    </md-content>
</div>
