<div layout="row" layout-align="space-around center" class="page-content md-padding" ng-cloak style="margin-top: 50px;">
    <md-content flex-gt-sm="50" flex-sm="100" layout="column" class="md-whiteframe-z2">
        <md-toolbar class="md-warn not-found" flex>
            <h1 class="md-toolbar-tools md-headline" layout-align="center">Error 404: Page Not Found.</h1>
        </md-toolbar>
        <div class="md-padding">
            <p>Sorry, but the page you were trying to view does not exist.</p>
            <p>It looks like this was the result of either:</p>
            <ul>
                <li>a mistyped address</li>
                <li>an out-of-date link</li>
            </ul>
        </div>
    </md-content>
</div>



