<md-content layout="row" layout-align="space-around center">
    <md-card flex="66" flex-gt-md="50" class="input-card">
        <md-toolbar>
            <h1 layout-align="center" class="md-toolbar-tools">Login</h1>
        </md-toolbar>
        <md-card-content>
            <form name="loginForm" ng-submit="vm.login()" novalidate>
                <md-input-container>
                    <label>Username</label>
                    <input type="text" ng-model="vm.user.username" required name="username">

                    <div ng-messages="loginForm.username.$error">
                        <div ng-message="required">This field is required</div>
                    </div>
                </md-input-container>

                <md-input-container>
                    <label>Password</label>
                    <input type="password" ng-model="vm.user.password" name="password" required>

                    <div ng-messages="loginForm.password.$error">
                        <div ng-message="required">This field is required.</div>
                    </div>
                </md-input-container>
                <md-button type="submit" class="md-raised md-primary" ng-disabled="loginForm.$invalid" aria-label="Login">
                    Login
                </md-button>
            </form>
        </md-card-content>
    </md-card>
</md-content>
